.btn-A {
  padding: 8px 16px;
  background-color: #46139f;
  color: #fff;
  text-decoration: none;
  margin: 1rem 0.5rem;
  font-weight: 500;
}

.btn-B {
  padding: 8px 16px;
  background-color: #ff7f50;
  color: #fff;
  text-decoration: none;
  margin: 1rem 0.5rem;
  font-weight: 500;
}

.btn-C {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #46139f;
  color: #46139f;
  text-decoration: none;
  /* margin: 2rem 0; */
  font-weight: 500;
  font-size: 1rem;
}

.grid-wrepper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

/* card Loader */

.text-placeholder {
  height: 8px;
  margin-bottom: 5px;
}

.placeholder {
  display: inline-block;
  background-color: #b0c0c7;
  animation-name: shine;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
}

@keyframes shine {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}
